<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/CssUsuario/style.css}">

    <title>Operações dos Usuários</title>
    <!-- Adicione os links para os seus arquivos CSS aqui -->
    <!-- Adicione os links para os seus arquivos JavaScript aqui -->
</head>
<body>
<div class="navbar">
    <a href="javascript:void(0)" onclick="mostrarFormulario('criarUsuario')">Criar Usuário</a><br>
    <a href="javascript:void(0)" onclick="mostrarFormulario('buscarPorId')">Buscar Usuário por ID</a><br>
    <a href="javascript:void(0)" onclick="mostrarFormulario('buscarTodos')">Buscar Todos os Usuários</a><br>
</div>

<div class="content">
    <h1>Operações dos Usuários</h1>
    <hr>
    <!-- Formulário de criar usuário -->
    <form id="criarUsuario" class="formulario" style="display: none;">
        <!-- Adicione os campos necessários para criar um usuário -->
        <button type="button" onclick="cadastrarUsuario()">Cadastrar</button>
    </form>

    <!-- Formulário de buscar por ID -->
    <form id="buscarPorId" class="formulario" style="display: none;">
        <label>
            <input type="text" id="idUsuario" name="id" placeholder="ID do Usuário">
        </label><br>
        <button type="button" onclick="buscarUsuarioPorId(event)">Buscar</button>

        <div id="resultado"></div>

    </form>

    <!-- Formulário de buscar todos -->
    <form id="buscarTodos" class="formulario" style="display: none;">
        <p>Lista de todos os usuários...</p>
        <button type="button" onclick="buscarTodosUsuarios()">Buscar Todos</button>
        <div id="todosUsuarios"></div>

    </form>
</div>
</body>
</html>
