<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Minha Página</title>
    <link rel="stylesheet" type="text/css" href="/CssProduto/style.css">
</head>
<body>
<div class="navbar">
    <a href="/api/v1/produtos/operacoes_produtos">Operações produtos</a><br>
    <a href="/api/v1/usuarios/operacoes_usuarios">Operações usuarios</a><br>
    <a href="/realizar-venda">Realizar Venda</a><br>
</div>

<div class="content">
    <h1>Bem-vindo ao Geladão Express</h1>
    <p>Selecione uma opção na barra lateral para gerenciar o estabelecimento</p>
</div>
</body>
</html>
